@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
  background-color: #F2F2F2;
}

.page-container {
  margin: 0 auto;
  width: 1200px;
  box-shadow: 0 0 15px 0 rgb(0 0 0 / 10%);
  padding-left: 40px;
  padding-right: 40px;
  background-color: #F2F2F2;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-style: normal;
  font-weight: 400;
  background-color: #FFF;
  color: #333;
}

img {
  max-width: 100%;
  object-fit: contain;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  padding: 8px 50px;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFF;
  border-radius: 4px;
  display: inline-block;
  border: none;
  font-family: "PT Sans", sans-serif;
  cursor: pointer;
}

.button:active {
  color: #FFFFFF4D;
}

.button:disabled {
  background-color:#E5E5E5;
}

.button-brown:hover {
  background-color: #615048;
}

.button-brown:focus {
  background-color:#615048;
}

.button-brown:active {
  background-color:#756157;
}

.button-blue:hover {
  background-color: #68A2CA;
}

.button-blue:focus {
  background-color:#68A2CA;
}

.button-blue:active {
  background-color:#82B3D3;
}

.page-header {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  min-height: 64px;
  width: 1200px;
  box-shadow: 0 0 15px 0 rgb(0 0 0 / 20%);
}

.navigation {
  display: flex;
  margin: 0 auto;
  padding: 0 70px;
  background-color: #FFF;
}

.navigation-logo {
  position: relative;
  z-index: 1;
}

.page-logo {
  cursor: pointer;
}

.navigation-list {
  min-width: 507px;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.navigation-list:first-child li {
  flex-grow: 1;
}

.navigation-list .navigation-item:not(:first-child):hover{
  opacity: 0.8;
}

.navigation-list .navigation-item:not(:first-child):focus{
  opacity: 0.6;
}

.navigation-list .navigation-item:not(:first-child):active{
  opacity: 0.4;
}

.navigation-link {
  padding: 20px 0;
  margin: 0 16px;
  text-transform: capitalize;
  text-decoration: none;
  color: #000;
  text-align: center;
  display: block;
  position: relative;
}

.navigation-active::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background-color: #756257;
}

.navigation-list.navigation-user {
  margin-left: auto;
  width: 268px
}

.navigation-user .navigation-link {
  position: relative;
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 22px 12px;
}

.navigation-icon {
  position: absolute;
  inset: 0;
  margin: auto;
}

.navigation-link:hover svg {
  fill:#756157;
}

.navigation-link:focus svg {
  fill:#756157;
}

.navigation-link:active svg {
  fill:#7561574D;
}

.favourite-like {
  padding: 5px;
  position: absolute;
  top: 12px;
  right: 0;
  text-align: center;
  color: #FFF;
  font-size: 10px;
  line-height: 10px;
  border-radius: 10px;
  background-color: #7DB54F;
  font-weight: 400;
}

.user-button {
  background-color: #756157;
  margin-left: 20px;
}

.main-container {
  flex-grow: 1;
  box-shadow: 0 0 15px 0 rgb(0 0 0 / 20%);
}

.index-section {
  background-image: url("../images/photo-3.jpg");
  background-color: #5b89a7;
  color: #333;
  background-repeat: no-repeat;
  background-size: 100% auto;
  position: relative;
}

.index-section-slogan {
  display: block;
  margin: 0 auto;
  padding: 0 371px;
  padding-top: 51px;
  padding-bottom: 25px;
}

.index-section::before {
  content: "";
  background-image: url("../images/ladder.svg");
  min-width: 1200px;
  min-height: 57px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.small-section {
  text-align: center;
  padding-top: 69px;
  padding-bottom: 90px;
  background-color: #FFF;
}

.small-section-caption {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: #000;
  margin-top: 0;
  margin-bottom: 25px;
}

.small-section-text {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  margin: 0;
}

.advantages {
  background-color: #FFF;
  color: #333;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style: none;
  padding: 0;
  margin: 0;
}

.advantages-item {
  background-color: rgb(131 179 211 / 12%);
  color: #333;
}

.advantages-item-container {
  width: 230px;
  min-height: 200px;
  padding: 90px 85px;
  text-align: center;
}

.item-another {
  background-color: #82B3D3;
  color: #FFF;
  display: flex;
  flex-wrap: wrap;
}

.advantages-subtitle {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  color: #000;
  margin-bottom: 30px;
  position: relative;
}

.advantages-subtitle::after {
  content: "";
  position: absolute;
  bottom: -18px;
  left: 85px;
  width: 60px;
  height: 2px;
  background-color: rgb(0 0 0 / 30%);
}

.subtitle-another::after {
  background-color:  rgb(255 255 255 / 30%);
}

.advantages-text {
  margin-top: 30px;
  margin-bottom: 0;
}

.subtitle-another {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  color: #FFF;
}

.another {
  background-color: rgb(131 179 211 / 20%);
}

.tiny-section {
  text-align: center;
  padding: 64px 0;
  background-color: #FFF;
}

.tiny-section-caption {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: #000;
  margin-top: 0;
  margin-bottom: 20px;
}

.tiny-section-text {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  margin: 0;
}

.offers-section {
  background-color: #FFF;
  color: #333;
}

.offers-section-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
}

.offers-section-item {
  background-color: rgb(131 179 211 / 12%);
  width: 400px;
  min-height: 385px;
  position: relative;
}

.offers-section-container {
  padding: 80px 85px;
  text-align: center;
}

.item-food {
  background-color: #FFF;
}

.offers-section-subtitle {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  margin-top: 100px;
}

.offers-section-item:nth-child(1)::before {
  content: "";
  background-image: url("../images/catalog-house.svg");
  width: 75px;
  height: 72px;
  position: absolute;
  top: 80px;
  right: 165px;
  background-repeat: no-repeat;
}

.offers-section-item:nth-child(2)::before {
  content: "";
  background-image: url("../images/food.svg");
  width: 74px;
  height: 70px;
  position: absolute;
  top: 80px;
  right: 165px;
  background-repeat: no-repeat;
}

.offers-section-item:nth-child(3)::before {
  content: "";
  background-image: url("../images/gift.svg");
  width: 64px;
  height: 76px;;
  position: absolute;
  top: 80px;
  right: 165px;
  background-repeat: no-repeat;
}

.offers-section-text {
  margin: 0;
}

.desc-section {
  text-align: center;
  padding: 96px 304px;
  background-color: #FFF;
}

.desc-section-caption {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 20px;
}

.desc-section-text {
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 54px;
}

.search-button {
  background-color: #756157;
  font-size: 20px;
  line-height: 36px;
}

.subscription {
  background-image: url("../images/subscribe.jpg");
  background-color: #756157;
  color:#FFF;
  background-repeat:no-repeat;
  background-size: 100% 100%;
  padding: 96px 258px 104px;
  text-align: center;
}

.subscription-subtitle {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 20px;
}

.subscription-text {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  margin: 0;
  margin-bottom: 54px;
}

.subscription-form {
  display: flex;
}

.subscription-email {
  background-color: #f2f2f2;;
  color: #000;
  width: 452px;
  border: none;
  border-radius: 4px 0 0 4px;
  padding: 12px 20px;
  outline: none;
}

.subscription-email:hover {
  background-color: #E6E6E6;
}

.subscription-email:focus {
  background-color: #E6E6E6;
  outline: 3px solid #83B3D3;
}

.subscription-email:active {
  background-color: #E6E6E6;
  outline: 3px solid #83B3D3;
}

.subscription-button {
  font-size: 20px;
  line-height: 36px;
  background-color: #82b3d3;
  border-radius: 0 4px 4px 0;
}

.subscription-button:hover {
  background-color: #68A2CA;
}

.subscription-button:focus {
  background-color:#68A2CA;
  outline: #68A2CA;
}

.subscription-button:active {
  background-color:#68A2CA;
  outline: #68A2CA;
}

.footer-page {
  background-color: #FFF;
  color: #000;
  display: flex;
  padding: 40px 70px 30px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  width: 142px;
  padding: 0;
  margin: 0;
}

.social-img {
  color: #83B3D3;
}

.footer-social-item .footer-link:hover .social-img {
  color: #68A2CA;
}

.footer-social-item .footer-link:focus .social-img  {
  color: #68A2CA;
}

.footer-social-item .footer-link:active .social-img {
  color: #68A2CA4D;
}

.footer-link {
  width: 47px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contacts-phone {
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  text-align: center;
  color: #000;
  text-decoration: none;
  width: 720px;
}

.contacts-phone:hover {
  color: #756157;
}

.contacts-phone:focus {
  color: #756157;
}

.contacts-phone:active {
  color: #7561574D;
}

.footer-logo {
  color: #000;
  width: 115px;
  margin-left: auto;
}

.footer-logo:hover {
  color: #756157;
}

.footer-logo:focus {
  color: #756157;
}

.footer-logo:active {
  color: #7561574D;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  background-color: rgb(242 242 242 / 80%);
}

.modal {
  position: relative;
  margin: auto;
  padding: 64px 70px;
  border-radius: 30px;
  background-color: #FFF;
  box-shadow: 0 25px 50px 0 rgb(0 0 0 / 15%);
}

.modal-container-close {
  display: none;
}

.modal-container-button-close {
  background-image: url("../images/close.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: #F2F2F2;
  width: 52px;
  height: 52px;
  position: absolute;
  top: 65px;
  right: 53px;
  border: 3px solid #F2F2F2;
  cursor: pointer;
  padding: 0;
  border-radius: 50%;
}

.modal-container-button-close:hover {
  background-color: #E6E6E6;
  border: 3px solid #E6E6E6;
}

.modal-container-button-close:focus {
  background-color: #E6E6E6;
  border: 3px solid #83B3D3;
}

.modal-container-button-close:active {
  background-color: #E6E6E6;
  border: 3px solid #E6E6E6;
  opacity: 0.3;
}

.modal-container-title {
  width: 500px;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: #000;
  margin: 0;
  margin-bottom: 64px;
}

.container-form {
  display: flex;
  align-items: center;
}

.modal-container-text {
  width: 135px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
  margin: 0;
}

.text-modal {
  width: 340px;
  padding-left: 155px;
  margin: 0;
  font-size: 16px;
  text-align: left;
}

.text-modal:nth-child(2) {
  margin-bottom: 23px;
}

.text-modal-error {
  color: #FF5757;
}

.modal-container-control {
  font-family: "PT Sans", sans-serif;
  width: 400px;
  padding: 12px 20px;
  align-items: center;
  color: #000;
  font-weight: 700;
  line-height: 24px;
  border-radius: 4px;
  background-color:  #F2F2F2;
  cursor: pointer;
  position: relative;
}

.modal-container-control::placeholder {
  color: #000;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

.button-date {
  background-image: url("../images/calendar.svg");
  background-repeat: no-repeat;
  position: absolute;
  width: 16px;
  height: 15px;
  border: none;
  right: 90px;
  opacity: 0.3;
}

.modal-container-form {
  display: flex;
  flex-flow: column wrap;
}

.modal-control {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.modal-container-family{
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.modal-container-adults {
  display: flex;
  align-items: center;
}

.modal-container-children {
  display: flex;
  align-items: center;
}

.modal-adults,
.modal-children {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  cursor: pointer;
  width: 135px;
}

.button-control {
  display: flex;
  align-items: center;
}

.button-family-min {
  border-radius: 4px 0 0 4px;
  width: 40px;
  height: 48px;
  border: none;
  background-color: #F2F2F2;;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.control-family {
  width: 31px;
  height: 48px;
  border: none;
  background-color: #F2F2F2;
  text-align: center;
  box-sizing: border-box;
  padding: 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: capitalize;
}

.button-family-max {
  border-radius: 0 4px 4px 0;
  width: 40px;
  height: 48px;
  border: none;
  background-color: #F2F2F2;;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.family-icon-max {
  opacity: 0.3;
  padding: 4px 5px;
  border: 3px solid #F2F2F2;
  border-radius: 4px;
}

.family-icon-min {
  opacity: 0.3;
  padding: 10px 5px;
  border: 3px solid #F2F2F2;
  border-radius: 4px;
}

.family-icon-min:hover,
.family-icon-max:hover {
  opacity: 1;
}

.family-icon-min:focus,
.family-icon-max:focus {
  opacity: 1;
  border: 3px solid #82B3D3;
  outline: none;
}

.family-icon-min:active,
.family-icon-max:active {
  opacity: 0.2;
}

.button-search {
  padding: 18px 77px;
  border-radius: 10px;
  margin: 0;
  font-size: 20px;
}

.tooltip {
  position: relative;
  top: -7px;
  left: 13px;
}

.tooltip-toggle {
  background-image: url("../images/tooltip.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 26px;
  height: 26px;
  border: none;
  border-radius: 50%;
  background-color: #83B3D3;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.tooltip-text {
  color: #FFF;
  font-size: 16px;
  line-height: 20px;
  min-width: 216px;
  text-align: left;
  border-radius: 10px;
  background-color:  #333;
  box-shadow: 0 15px 30px 0 rgb(0 0 0 / 30%);
  padding: 15px 18px 18px 22px;
  margin: 0;
  position: absolute;
  top: 40px;
  left: -108px;
  display: none;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.tooltip-text::after {
  content:'';
  background-image: url("../images/tooltip-arrow.svg");
  width: 20px;
  height: 10px;
  position: absolute;
  top: -8px;
  left: 112px;
  margin-left: auto;
  margin-right: auto;
}

.main-inner {
  box-shadow: 0 0 15px 0 rgb(0 0 0 / 20%);
}

.inner-section-hotels {
  background-image: url("../images/form.jpg");
  background-color: #756157;
  color: #FFF;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 35px 70px 70px;
}

.section-hotels-list {
  gap: 20px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
}

.section-hotels-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  margin-top: 0;
  margin-bottom: 8px;
}

.section-hotels-link {
  font-size: 16px;
  text-decoration: none;
  color: #FFF;
}

.section-hotels-item {
  position: relative;
}

.section-hotels-item:not(:last-of-type) .section-hotels-link::after  {
  content: "";
  background-image: url("../images/arrow.svg");
  width: 8px;
  height: 21px;
  position: absolute;
  background-repeat: no-repeat;
  top: 0;
  right: -15px;
}

.section-hotels-link:hover {
  color: #FFF9;
}

.section-hotels-link:focus {
  color: #FFF;
}

.section-hotels-link:active {
  color: #FFFFFF4D;
}

.hotels-infrastructure {
  display: flex;
}

.control {
  position: relative;
  display: block;
  cursor: pointer;
}

.control-radio {
  position: relative;
  display: block;
  cursor: pointer;
}

.control:hover,
.control-radio:hover {
  opacity: 0.6;
}

.catalog-filter-control:focus + span,
.catalog-filter-control-radio:focus + span {
  outline: 3px solid #83B3D3;
}

.control:active,
.control-radio:active {
  opacity: 0.3;
}

.catalog-filter-control:disabled + span,
.catalog-filter-control-radio:disabled + span {
  opacity: 0.1;
}

.catalog-filter-mark {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #FFF;
  border-radius: 5px;
  top: 0;
  left: 0;
  cursor: pointer;
}

.catalog-filter-label{
  padding-left: 16px;
  line-height: 23px;
}

.range-input-text {
  color: #000;
  opacity: 0.3;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  position: absolute;
  right: 20px;
  top: 12px;
}

.catalog-filter-control[type="checkbox"]:checked + .catalog-filter-mark::before {
  position: absolute;
  background-image: url("../images/check.svg");
  content: "";
  background-repeat: no-repeat;
  width: 12px;
  height: 10px;
  top: 4px;
  left: 4px;
}

.catalog-filter-mark-radio {
  position: absolute;
  background-color: #FFF;
  border-radius: 50%;
  content: "";
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
}

.catalog-filter-control-radio:checked + .catalog-filter-mark-radio::before {
  position: absolute;
  background-color: #3F5E72;
  border-radius: 50%;
  content: "";
  width: 10px;
  height: 10px;
  top: 5px;
  left: 5px;
}

.catalog-filter-items {
  border: none;
  margin: 0;
  padding: 0;
}

.catalog-filter-anoter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.catalog-filter-items:not(:last-child) {
  margin-right: 70px;
}

.catalog-filter-container {
  display: flex;
}

.catalog-filter-container-range {
  display: flex;
  margin-left: auto;
}

.catalog-filter-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.catalog-filter-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
  margin-bottom: 32px;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 16px;
}

.catalog-filter-button {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.range-wrapper-inputs {
  display: flex;
}

.range-input {
  background-color: #F2F2F2;
  width: 143px;
  height: 48px;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  padding: 12px 20px;
  border-radius: 4px;
  box-sizing: border-box;
  border: 3px solid #F2F2F2;
}

.range-input:not(:last-child) {
  margin-left: 2px;
}

.range-input:hover {
  background-color: #E6E6E6;
  border-color: #E6E6E6;
}

.range-input:focus {
  background-color: #E6E6E6;
  outline: 3px solid #83B3D3;
  border-color: #E6E6E6;
}

.range-input:active {
  outline: 2px solid #000;
}

.range-input:disabled {
  opacity: 0.1;
}

.catalog-filter-label-min-max {
  position: relative;
}

.range-input::placeholder {
  text-align: right;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
          appearance: none;
  margin: 0;
}

.range {
  margin-top: 30px;
}

.range-scale {
  position: relative;
  width: 287px;
  height: 4px;
  background-color: #FFFFFF3d;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #FFF;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #FFF;
  cursor: pointer;
  border-radius: 5px;
  border: 3px solid #FFF;
}

.range-toggle:hover {
  box-shadow: 0 4px 10px 0 #0000002d;
}

.range-toggle:focus {
  outline: 3px solid #83B3D3;
  box-shadow: 0 4px 10px 0 #0000002d;
}

.range-toggle:active {
  border-color: #83B3D3;
  box-shadow: 0 7px 15px 0 #0000004d;
}

.toggle-min {
  top: -8px;
  left: 0;
}

.toggle-max {
  top: -8px;
  right: 0;
}

.apply-button {
  background-color: #82b3d3;
  margin-bottom: 20px;
}

.apply-button:hover {
  background-color: #68A2CA;
}

.apply-button:focus {
    background-color:#68A2CA;
}

.apply-button:active {
    background-color:#68A2CA;
}

.apply-button:disabled {
  background: none;
  color: #FFFFFF8D;
}

.button-search:disabled {
background-color: #0000004d;
}

.throw-button {
  color: #FFF;
  background: none;
}

.throw-button:focus {
  border-radius: 4px;
  outline: 3px solid #83B3D3;
}

.throw-button:disabled {
  background: none;
  color: #FFFFFF8D;
}

.catalog-search {
  background-color: #FFF;
  color: #333;
  padding: 50px 70px 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.catalog-container {
  display: flex;
  width: 1060px;
  min-height: 50px;
  margin-bottom: 40px;
}

.search-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  width: 338px;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.view-list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  list-style: none;
  width: 179px;
  padding: 0;
  margin: 0;
}

.view-item {
  display: flex;
  min-height: 50px;
}

.view-item:not(:first-child) {
  padding-left: 8px;
}

.view-link {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  border-radius: 4px;
  border: 2px solid #E5E5E5;
}

.view-link-current {
  border: 2px solid #000;
}

.view-link:hover {
  border: 2px solid #000;
}

.view-link:focus {
  border: 2px solid #68A2CA;
}

.view-link:active {
  border: 2px solid #000;
}

.catalog-price {
  background-image: url("../images/list.svg");
  background-repeat: no-repeat;
  background-position: 260px;
  margin-right: auto;
  width: 292px;
  padding: 14px 20px;
  border-radius: 4px;
  border: 2px solid #E5E5E5;
  -webkit-appearance: none;
          appearance: none;
  position: relative;
  cursor: pointer;
  font-size: 18px;
  line-height: 21px;
  font-family: "PT Sans", sans-serif;
  height: 49px
}

.catalog-price:hover {
  border: 2px solid #68A2CA;
}

.catalog-price:focus {
  border: 2px solid #68A2CA;
}

.catalog-price:disabled {
  border: 2px solid rgb(0 0 0 / 30%);
  color: rgb(0 0 0 / 30%);
}

.catalog-hotels-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
}

.hotels-item {
  list-style: none;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  display: grid;
  grid-template-columns: repeat(2, 140px);
  gap: 16px 20px;
  padding: 20px;
}

.hotels-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  margin: 0;
  margin-top: 16px;
  color: #333;
}

.hotels-link {
  grid-column: 1/-1;
}

.hotels-price {
  text-align: right;
}

.hotel-stars {
  height: 18px;
  background-image: url("../images/star.svg");
  background-repeat: space;
  cursor: pointer;
}

.hotel-stars-1 {
  width: 20px;
}

.hotel-stars-2 {
  width: 39px;
}

.hotel-stars-3 {
  width: 61px;
}

.hotel-stars-4 {
  width: 83px;
}

.hotel-stars-5 {
  width: 106px;
}

.hotel-stars:hover {
  opacity: 0.8;
}

.hotel-stars:focus {
  opacity: 0.6;
}

.hotel-stars:active {
  opacity: 0.4;
}

.hotels-favourites-button {
  background-color: #82b3d3;
  padding: 8px;
  box-sizing: border-box;
}

.hotels-button{
  background-color: #756157;
  padding: 8px;
  box-sizing: border-box;
}

.hotels-favourites-best-button {
  background-color: #7db54f;
  padding: 8px;
  box-sizing: border-box;
}

.hotels-favourites-best-button:hover {
  background-color: #6C9E42;
}

.hotels-favourites-best-button:focus {
  background-color:#6C9E42;
}

.hotels-favourites-best-button:active {
  background-color:#7DB54F;
}

.hotels-text-another {
  background-color: #f2f2f2;
  border-radius: 4px;
  border: 1px solid #E6E6E6;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hotels-text-another:hover {
  opacity: 0.8;
}

.hotels-text-another:focus {
  opacity: 0.6;
}

.hotels-text-another:active {
  opacity: 0.4;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: flex-start;
  margin: 0;
  margin-top: 40px;
  padding: 0;
  position: relative;
}

.pagination-item {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: #000;
  margin-right: 8px;
  margin-bottom: 2px;
}

.pagination-item::before {
  content: "";
  width: 1060px;
  height: 1px;
  background: #E6E6E6;
  position: absolute;
  top: -40px;
  left: 0;
}

.pagination-link {
  background-color: #82b3d3;
  color: #FFF;
  text-decoration: none;
  min-width: 60px;
  min-height: 60px;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.pagination-prev {
  color: #000;
  background-color: #f2f2f2;
}

.point-link {
  font-size: 22px;
  line-height: 26px;
  color: #000;
  background-color: #FFF;
}

.pagination-link:not(.pagination-prev, .point-link):hover {
  background-color: #68A2CA;
}

.pagination-link:not(.pagination-prev, .point-link):focus {
  background-color: #68A2CA;
}

.pagination-link:not(.pagination-prev, .point-link):active {
  background-color: #82B3D3;
  color: #FFFFFF4D;
}

.subscription-catalog {
  background-color:#FFF;
  color:#333;
  text-align: center;
  padding: 96px 258px 104px;
}
