@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}
html {
  height: 100%;
  background-color: #F2F2F2;
}
.page-container {
  margin: 0 auto;
  width: 1200px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
/*body*/
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-style: normal;
  font-weight: 400;
  background-color: #ffffff;
  color: #333333;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.button {
  padding: 8px 50px;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  border-radius: 4px;
  display: inline-block;
  border: none;
  font-family: "PT Sans", sans-serif;
  cursor: pointer;
}
.button:active {
  color: #FFFFFF4D;
}
.button:disabled {
  background-color:#E5E5E5;
}
.button-brown:hover {
  background-color: #615048;
}
.button-brown:focus {
  background-color:#615048;
}
.button-brown:active {
  background-color:#756157;
}
.button-blue:hover {
  background-color: #68A2CA;
}
.button-blue:focus {
  background-color:#68A2CA;
}
.button-blue:active {
  background-color:#82B3D3;
}
/*main-page*/
/*header*/
.page-header {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  width: 1200px;
}
.navigation {
  display: flex;
  margin: 0 auto;
  padding: 0 70px;
  height: 64px;
}
.navigation-logo {
  z-index: 1;
}
.page-logo {
  display: block;
  width: 140px;
  margin-right: 30px;
}
.navigation-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  margin-right: auto;
}
.navigation-link {
  padding: 20px 0;
  margin: 0 16px;
  text-transform: capitalize;
  text-decoration: none;
  color: #000000;
  text-align: center;
  display: block;
  position: relative;
}
.navigation-active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background-color: #756257;
}
.navigation-list.navigation-user {
  margin-right: 0;
}
.navigation-user .navigation-link {
  position: relative;
  width: 20px;
  height: 20px;
}
.navigation-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}
.navigation-link:hover svg {
  fill:#756157;
}
.navigation-link:focus svg {
  fill:#756157;
}
.navigation-link:active svg {
  fill:#7561574D;
}
.favourite-like {
  padding: 5px;
  position: absolute;
  top: 11px;
  right: -10px;
  text-align: center;
  color: #FFFFFF;
  font-size: 10px;
  line-height: 10px;
  border-radius: 10px 10px;
  background-color: #7DB54F;
  font-weight: 400;
}
.user-button {
  background-color: #756157;
  margin-left: 20px;
}
/*/header*/
.main-container {
  flex-grow: 1;
}
/*section with slogan*/
.index-section {
  background-image: url("../images/photo-3.jpg");
  background-color: #5b89a7;
  color: #333333;
  background-repeat: no-repeat;
  background-size: 100% auto;
  position: relative;
}
.index-section-slogan {
  display: block;
  margin: 0 auto;
  padding: 0 371px;
  padding-top: 51px;
  padding-bottom: 25px;
}
.index-section::before {
  content: "";
  display: block;
  background-image: url("../images/ladder.svg");
  width: 1200px;
  height: 57px;
  position: absolute;
  bottom: 0;
  left: 0;
}
/*/section with slogan*/
/*small-section*/
.small-section {
  text-align: center;
  padding: 69px 0;
}
.small-section-caption {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  margin-top: 0;
  margin-bottom: 25px;
}
.small-section-text {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  margin: 0;
}
/*/small-section*/
/*advantages*/
.advantages {
  background-color: #ffffff;
  color: #333333;
  margin-top: 21px;
}
.advantages-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style: none;
  padding: 0;
  margin: 0;
}
.advantages-item {
  background-color: rgba(131, 179, 211, 0.12);
  color: #333333;
}
.advantages-item-container {
  width: 230px;
  min-height: 200px;
  padding: 90px 85px;
  text-align: center;
}
.item-another {
  background-color: #82B3D3;
  color: #ffffff;
  display: flex;
}
.advantages-subtitle {
font-size: 24px;
font-weight: 700;
line-height: 28px;
text-transform: uppercase;
color: #000000;
margin-bottom: 30px;
position: relative;
}
.advantages-subtitle::after {
  content: "";
  position: absolute;
  bottom: -18px;
  left: 85px;
  width: 60px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.30);
}
.subtitle-another::after {
  background-color:  rgba(255, 255, 255, 0.30);
}
.advantages-text {
  margin-top: 30px;
  margin-bottom: 0;
}
.subtitle-another {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  color: #ffffff;
}
.another {
  background-color:rgba(131, 179, 211, 0.20);
}
/*/advantages*/
/*tiny-section */
.tiny-section {
  text-align: center;
  padding: 64px 0;
}
.tiny-section-caption {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  margin-top: 0;
  margin-bottom: 20px;
}
.tiny-section-text {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  margin: 0;
}
/*/tiny-section */
/*offers-section*/
.offers-section {
  background-color: #ffffff;
  color: #333333;
}
.offers-section-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
.offers-section-item {
  background-color: rgba(131, 179, 211, 0.12);
  width: 400px;
  height: 385px;
  position: relative;
}
.offers-section-container {
  padding: 80px 85px;
  text-align: center;
}
.item-food {
  background-color: #ffffff;
}
.offers-section-subtitle {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  margin-top: 100px;
}
.offers-section-item:nth-child(1)::before {
  content: "";
  background-image: url(../images/catalog-house.svg);
  width: 75px;
  height: 72px;
  position: absolute;
  top: 80px;
  right: 165px;
  background-repeat: no-repeat;
}
.offers-section-item:nth-child(2)::before {
  content: "";
  background-image: url(../images/food.svg);
  width: 74px;
  height: 70px;
  position: absolute;
  top: 80px;
  right: 165px;
  background-repeat: no-repeat;
}
.offers-section-item:nth-child(3)::before {
  content: "";
  background-image: url(../images/gift.svg);
  width: 64px;
  height: 76px;;
  position: absolute;
  top: 80px;
  right: 165px;
  background-repeat: no-repeat;
}
.offers-section-text {
  margin: 0;
}
/*/offers-section*/
/*desc-section*/
.desc-section {
  text-align: center;
  padding: 96px 304px;
}
.desc-section-caption {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 20px;
}
.desc-section-text {
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 54px;
}
.search-button {
  background-color: #756157;
  font-size: 20px;
  line-height: 36px;
}
/*/desc-section*/
/*subscription*/
.subscription {
  background-image: url("../images/subscribe.jpg");
  background-color: #756157;
  color:#ffffff;
  background-repeat:no-repeat;
  background-size: 100% 100%;
  padding: 96px 258px 104px 258px;
  text-align: center;
}
.subscription-subtitle {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 20px;
}
.subscription-text {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  margin: 0;
  margin-bottom: 54px;
}
.subscription-form {
  display: flex;
}
.subscription-email {
  background-color: #f2f2f2;;
  color: #f2f2f2;
  width: 452px;
  border: none;
  border-radius: 4px 0 0 4px;
  padding: 12px 20px;
}
.subscription-button {
  font-size: 20px;
  line-height: 36px;
  background-color: #82b3d3;
  border-radius: 0 4px 4px 0;
}
.subscription-button:hover {
  background-color: #68A2CA;
}
.subscription-button:focus {
  background-color:#68A2CA;
}
.subscription-button:active {
  background-color:#68A2CA;
}
/*/subscription*/
/*footer-social-item*/
.footer-page {
  background-color: #ffffff;
  color: #000000;
  display: flex;
  padding: 40px 70px 30px 70px;
}
.footer-social-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 142px;
  padding: 0;
  margin: 0;
}
.social-img {
  color: #83B3D3;
}
.footer-social-item .footer-link:hover .social-img {
  color: #68A2CA;
}
.footer-social-item .footer-link:focus .social-img  {
  color: #68A2CA;
}
.footer-social-item .footer-link:active .social-img {
  color: #68A2CA4D;
}
.footer-link {
  width: 47px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contacts-phone {
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
  text-decoration: none;
  width: 720px;
}
.contacts-phone:hover {
  color: #756157;
}
.contacts-phone:focus {
  color: #756157;
}
.contacts-phone:active {
  color: #7561574D;
}
.footer-logo {
  color: #000000;
  width: 115px;
  margin-left: auto;
}
.footer-logo:hover {
  color: #756157;
}
.footer-logo:focus {
  color: #756157;
}
.footer-logo:active {
  color: #7561574D;
}
/*footer-social-item*/
/*modal-container*/
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  background-color: rgba(242, 242, 242, 0.80);
}
.modal {
  position: relative;
  margin: auto;
  padding: 64px 70px;
  border-radius: 30px;
  background-color: #FFFFFF;
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.15);
}
.modal-container-close {
  display: non;
}
.modal-container-button-close {
  background-image: url(../images/close.svg);
  background-repeat: no-repeat;
  width: 52px;
  height: 52px;
  position: absolute;
  top: 65px;
  right: 53px;
  border: none;
  cursor: pointer;
  padding: 0;
  border-radius: 50%;
}
.modal-container-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  margin-bottom: 64px;
}
.modal-container-text {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
  margin: 0;
}
.text-modal {
  display: block;
  margin: 0;
  padding-right: 90px;
  font-size: 16px;
  text-align: right;
}
.text-modal:nth-child(2) {
  margin-bottom: 48px;
}
.text-modal-another {
  color: #FF5757;
  padding-right: 140px;
}
.modal-container-control {
  font-family: "PT Sans";
  width: 400px;
  padding: 12px 20px;
  align-items: center;
  color: #000;
  font-weight: 700;
  line-height: 24px;
  border-radius: 4px;
  background-color:  #F2F2F2;
  cursor: pointer;
}
.modal-container-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 580px;
}
.modal-control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.modal-container-family{
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
.button-search {
  padding: 18px 77px;
  border-radius: 10px;
  margin: 0;
  font-size: 20px;
}
.modal-container-family-search {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 250px;
}
.modal-text-adults {
  padding-right: 46px;
}
.modal-tooltip {
  display: flex;
  flex-grow: 1;
}
.tooltip {
  margin-right: 46px;
  position: absolute;
  bottom: 190px;
  right: 190px;
}
.tooltip-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 26px;
  height: 26px;
  border: none;
  border-radius: 50%;
  background-color: #83B3D3;
  padding: 0;
  margin: 0;
  cursor: pointer;
}
.tooltip-text {
  color: #FFFFFF;
  font-size: 16px;
  line-height: 20px;
  min-width: 216px;
  text-align: left;
  border-radius: 10px;
  background-color:  #333333;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.30);
  padding: 15px 18px 18px 22px;
  margin: 0;
  position: absolute;
  top: 40px;
  left: -108px;
  display: none;
}
.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}
  .tooltip-text:after {
  content:'';
  background-image: url("../images/tooltip-arrow.svg");
  width: 20px;
  height: 10px;
  position: absolute;
  top: -9px;
  left: 112px;
  margin-left: auto;
  margin-right: auto;
}
.quantity {
  display: flex;
  width: 40px;
  height: 48px;
  border: none;
  background-color: #F2F2F2;
  align-items: center;
  justify-content: center;
}
.modal-container-quantity-button {
  width: 40px;
  height: 48px;
  border: none;
  background-color: #F2F2F2;;
  cursor: pointer;
}
.min {
  background-image: url("../images/minus.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px 0 0 4px;
}
.max {
  background-image: url("../images/plus.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 0 4px 4px 0;
}
/*modal-container*/
/*main-page*/

/*catalog-page*/
/*inner-section*/
.inner-section-hotels {
  background-image: url("../images/form.jpg");
  background-color: #756157;
  color: #ffffff;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 35px 70px 70px 70px;
}
.section-hotels-list {
  gap: 20px;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
}
.section-hotels-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  margin-top: 0;
  margin-bottom: 8px;
}
.section-hotels-link {
  font-size: 16px;
  text-decoration: none;
  color: #ffffff;
}
.section-hotels-item {
  position: relative;
}
.section-hotels-item:not(:last-of-type) .section-hotels-link::after  {
  content: "";
  background-image: url("../images/arrow.svg");
  width: 8px;
  height: 21px;
  position: absolute;
  background-repeat: no-repeat;
  top: 0;
  right: -15px;
}
.section-hotels-link:hover {
  color: #FFFFFF99;
}
.section-hotels-link:focus {
  color: #FFFFFF;
}
.section-hotels-link:active {
  color: #FFFFFF4D;
}
.hotels-infrastructure {
  display: flex;
}
.control {
  position: relative;
  display: block;
}
.catalog-filter-mark {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  border-radius: 5px;
  top: 0;
  left: 2px;
  cursor: pointer;
}
.catalog-filter-label {
  padding-left: 16px;
}
.catalog-filter-control[type="checkbox"]:checked + .catalog-filter-mark::before {
  position: absolute;
  background-image: url(../images/check.svg);
  content: "";
  background-repeat: no-repeat;
  width: 12px;
  height: 10px;
  top: 4px;
  left: 4px;
}
.control-radio {
  position: relative;
  display: block;
}
.catalog-filter-mark-radio {
  position: absolute;
  background-color: #FFFFFF;
  border-radius: 50%;
  content: "";
  width: 20px;
  height: 20px;
  top: 0;
  left: 4px;
}
.catalog-filter-control-radio[type="radio"]:checked + .catalog-filter-mark-radio::before {
  position: absolute;
  background-color: #3F5E72;
  border-radius: 50%;
  content: "";
  width: 10px;
  height: 10px;
  top: 5px;
  left: 5px;
}
.catalog-filter-items {
  border: none;
  margin: 0;
  padding: 0;
}
.catalog-filter-anoter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.catalog-filter-items:not(:last-child) {
  margin-right: 70px;
}
.catalog-filter-container {
  display: flex;
}
.catalog-filter-container-range {
  display: flex;
  margin-left: auto;
}
.catalog-filter-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.catalog-filter-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
  margin-bottom: 32px;
}
.catalog-filter-item:not(:last-child) {
  margin-bottom: 16px;
}
.catalog-filter-button {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.range-wrapper-inputs {
  display: flex;
}
.range-input {
  width: 118px;
  height: 48px;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  padding: 2px 12px;
  border-radius: 4px 4px;
}
.range-input::placeholder {
text-align: right;
}
.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}
.range {
  margin-top: 30px;
}
.range-scale {
  position: relative;
  width: 287px;
  height: 4px;
  background-color: #FFFFFF3d;
}
.range-bar {
  position: absolute;
  height: 4px;
  background-color: #FFFFFF;
}
.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  cursor: pointer;
  border-radius: 5px;
  border: #FFFFFF;
}
.range-toggle:hover {
  background-color: #FFFFFF;
}
.range-toggle:focus {
border: 3px solid #83B3D3;
outline: none;
}
.range-toggle:active {
  border: 2px solid #83B3D3;
}
.toggle-min {
  top: -8px;
  left: 0;
}
.toggle-max {
  top: -8px;
  right: 0;
}
.apply-button {
  background-color: #82b3d3;
  margin-bottom: 20px;
}
.apply-button:hover {
  background-color: #68A2CA;
  }
.apply-button:focus {
    background-color:#68A2CA;
  }
.apply-button:active {
    background-color:#68A2CA;
  }
.throw-button {
  color: #ffffff;
  background: none;
}
.throw-button:focus {
  border-radius: 4px;
border: 3px solid #83B3D3;
outline: none;
}
.throw-button:disabled {
  background: none;
  color: #FFFFFF8D;
}
.apply-button:disabled {
  background: none;
  color: #FFFFFF8D;
}
/*/inner-section*/
/*catalog-search*/
.catalog-search {
  background-color: #FFFFFF;
  color: #333333;
  padding: 50px 70px 60px 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.catalog-container {
  display: flex;
  width: 1060px;
  min-height: 50px;
  margin-bottom: 40px;
}
.search-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  width: 338px;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
}
.view-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 160px;
  padding: 0;
  margin: 0;
}
.view-item {
  display: flex;
}
.view-link {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  border-radius: 4px;
  border: 2px solid #E5E5E5;
}
.view-link-current {
  border: 2px solid #000000;
}
.view-link:hover {
  border: 2px solid #000000;
}
.view-link:focus {
  border: 2px solid #68A2CA;
}
.view-link:active {
  border: 2px solid #000000;
}
.catalog {
  display: block;
  background-image: url("../images/list.svg");
  background-repeat: no-repeat;
background-position: top;
}
.catalog-price {
  display: flex;
  margin-right: auto;
  justify-content: space-between;
  width: 292px;
  padding: 14px 20px;
  border-radius: 4px;
  border: 2px solid #E5E5E5;
  appearance: none;
}
.catalog-hotels-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
}
.hotels-item {
  list-style: none;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  display: grid;
  grid-template-columns: repeat(2, 140px);
  gap: 16px 20px;
  padding: 20px;
}
.hotels-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  margin: 0;
  margin-top: 16px;
}
.hotels-link {
  grid-column: 1/-1;
}
.hotels-price {
  text-align: right;
}
.hotel-stars {
  height: 18px;
  background-image: url(../images/Star.svg);
  background-repeat: space;
}
.hotel-stars-1 {
  width: 20px;
}
.hotel-stars-2 {
  width: 39px;
}
.hotel-stars-3 {
  width: 61px;
}
.hotel-stars-4 {
  width: 83px;
}
.hotel-stars-5 {
  width: 106px;
}
.hotels-favourites-button {
  background-color: #82b3d3;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  box-sizing: border-box;
}
.hotels-button{
  background-color: #756157;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  box-sizing: border-box;
}
.hotels-favourites-best-button {
  background-color: #7db54f;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  box-sizing: border-box;
}
.hotels-favourites-best-button:hover {
  background-color: #6C9E42;
}
.hotels-favourites-best-button:focus {
  background-color:#6C9E42;
}
.hotels-favourites-best-button:active {
  background-color:#7DB54F;
}
.hotels-text-another {
  background-color: #f2f2f2;
  border-radius: 4px;
  border: 1px solid #E6E6E6;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*/catalog-search*/
/*pagination-item*/
.pagination-list {
  display: flex;
  list-style: none;
  justify-content: flex-start;
  margin: 0;
  margin-top: 40px;
  padding: 0;
  position: relative;
}
.pagination-item {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  margin-right: 8px;
}
.pagination-item::before {
  content: "";
  width: 1060px;
  height: 1px;
  background: #E6E6E6;
  position: absolute;
  top: -40px;
  left: 0;
}
.pagination-link {
  background-color: #82b3d3;
  color: #ffffff;
  text-decoration: none;
  width: 60px;
  height: 60px;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination-prev {
  color: #000000;
  background-color: #f2f2f2;
}
.point-link {
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
}
.pagination-link:not(.pagination-prev):not(.point-link):hover{
  background-color: #68A2CA;
}
.pagination-link:not(.pagination-prev):not(.point-link):focus {
  background-color: #68A2CA;
}
.pagination-link:not(.pagination-prev):not(.point-link):active {
  background-color: #82B3D3;
  color: #FFFFFF4D;
}
/*/pagination-item*/
/*subscription-catalog*/
.subscription-catalog {
  background-color:#ffffff;
  color:#333333;
  text-align: center;
  padding: 96px 258px 104px 258px;
}
/*/subscription-catalog*/
/*/catalog-page*/
